<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="1f6286b3-de0d-4d5b-b618-7115707f77cd" Version="1.0.0.0" Publisher="CN=Vysh" />
  <Properties>
    <DisplayName>SmartDiagnosis.Windows</DisplayName>
    <PublisherDisplayName>Vysh</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="SmartDiagnosis" Description="Diagnosis of Breast Cancer at ease!" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#F20056" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>